* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}




.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    width: 100%;
    padding: 5px 10%;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    font-family: Arial, Helvetica, sans-serif;


}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo {
    cursor: pointer;
    margin-right: ;
}

.header .logo:hover {
    transform: scale(1.2);
    
}

.header .nav-links {
    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #808080;
    text-decoration: none;
    
}

.header .nav-links li a:hover {
    color: #495057;
}


.header .btn button {
    font-weight: 700;
    color: #fdfdfd;
    padding: 9px 25px;
    background: #464646;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.header .btn button:hover {
    background-color: #353434;
    color: #9e9e9e;
    
}

/* <----------- MAIN ---------->*/

.section-titulo {
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 75px;
    text-shadow: 0px 4px 4px #fcfafa40;
    background-color: #292828;
}
.section-titulo p {
    color: rgb(173, 164, 212);
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'montserrat';
    text-shadow: none;
}

.sobre-nosotros {
    display: flex;
    background-color: #292828;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.nuestro-producto {
    margin-top: 20px;
}

.setup {
    display: flex;
}

.setup img {
    flex-direction: row;
    width: 50%;
    height: auto;
    padding: 0 5px 5px 5px;


}

.encabezado-img {
    background-image: url(../assets/img/teclado.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    color: rgb(189, 99, 15);
    text-shadow: #DBDBDB;
}
.encabezado-img p {
    font-size: 20px;
    color: #ffffff;
}

.encabezado-img h2 {
    font-size: 50px;
    padding: 20px;
    text-shadow: -1px 1px 4px rgba(255, 255, 255, 0.521), 0.26);
}

.but-key  {
    margin-top: 20px;
}

.but-key {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #495057;
    background: #495057;
}

.but-key:hover {
    background: #fff;
    color: #495057
}

/*--------- PRODUCTOS --------*/

.container-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); 
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo-pro {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-family: 'Arial';
    font-weight: 579;
    font-size: 30px;
    color: #495057;
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to left, #FFFFFF, #ECE9E6)
}

.img-pc {
    width: 750px;
}

.productos-texto {
    margin-left: 25px;

}

.productos-texto h3{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 42, 99);

}

.productos-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    font-family: 'Montserrat';
    color: #000000;
    text-shadow: none;
    font-size: 15px;
    font-weight: 478;
}

.productos-texto h3 span{
    background: rgb(109, 97, 163);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

/*--------- ITEM LIST --------*/

.item-list {
    padding-top: 20px;
    margin-top: 30px;
    height: 200px;
    width: 100%;
    background-color: #EAEAEA;
}

.list-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;

}

.iconos  {
    height: 50px;
}

.delivery{
    text-align: center;
}

.delivery h5 {
    font-size: 20px;
}

.verified {
    text-align: center;
}

.verified h5 {
    font-size: 20px;

}

.support {
    text-align: center;
}

.support h5 {
    font-size: 20px;

}

/* /*--------- FOOTER --------*/  



.container {
    background-color: #434343;
    width: 100%;
    margin: auto;


}
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    margin-top: 5px;
    font: 18px;
    color: #F2F2F2;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: ;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #9c9c9c;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* ---------- PAGINA 2: KEYBOARDS ------------ */

.teclado-container {
    background-image: url(../assets/img/key-img.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;

}


.titulo-teclado {
    color: rgb(248, 228, 189);
    align-items: center;
    top: 35%;
    position: absolute;
    font-weight: 550;
    font-family: 'Montseratt';
    font-size: 75px;
    text-shadow: 4px 2px 16px rgba(0,0,0,0.42);
}

.teclado-container p {
    color: rgb(248, 248, 248);
    position: relative;
    top: 55%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 2px 16px rgba(221, 221, 221, 0.42);
}

.wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 500px);
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    gap: 50px;
    padding: 0px 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 150px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgb(156, 156, 156);
}

.product {
    height: 200px;
    padding-bottom: 30px;
}
.product:hover {
    transform: scale(1.1);
}

.product-1 {
    height: 200px;
    padding-bottom: 30px;
}
.product-1:hover {
    transform: scale(1.1);
}


.card p {
    text-align: center;
    line-height: 25px;
    margin: 5px;
    font-size: 15px;
    color: gray;
}

.card h2 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Montserrat';
}

.btn-pro {
    padding: 10px 50px;
    font-size: 17px;
    background-color: rgb(12, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 9px;
    cursor: pointer;
    
}

.btn-pro:hover {
    border: 2px solid rgb(12, 0, 0);
    color: rgb(12, 0, 0);
    background: transparent;
}

span {
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bolder;
}










/* RESPONSIVE */
@media screen and (max-width: 500px) {
    .footer-col {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;
        
    }
}
@media screen and (max-width: 500px) {
    .footer-col {
        width: 100%;
        
    }

}
@media screen and (max-width: 500px) {
    .teclado-container {
        width: 100%;
    }

    .titulo-teclado {
        text-align: center;
        align-items: center;
        top: 25%;
        position: absolute;
        font-weight: 550;
        font-family: 'Montseratt';
        font-size: 75px;
        text-shadow: 4px 2px 16px rgba(0,0,0,0.42);
    }
    
    .teclado-container p {
        text-align: center;
        color: rgb(248, 248, 248);
        position: relative;
        top: 55%;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 4px 2px 16px rgba(221, 221, 221, 0.42);
    }
    
    .wrapper {
        grid-template-columns: repeat(1, 250px);
        margin-top: 50px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .card {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .footer-key {
        padding-top: 580%;
    }
    .product-1 {
        height: 150px;
}

}